*{
	margin:0;
	padding: 0;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
h1, h2,h3,h4,h5,h6{
	font-weight: normal;
}
a{
	text-decoration: none;
}
.top-navigation{
	background-color: #336699;
	height: 50px;
    position: fixed;
    width: 100%;
}
.clear{
	clear: both;
}
.main-body .left-section{
	background-color: #003366;
	position: fixed;
	top: 50px;
	height: 100%;
	width: 10%;
    z-index: 10;
}
.main-body .left-section ul li{
    padding: 10px 5px 15px;
    border-bottom: 1px solid white;
}
.main-body .left-section ul li a{
	color: #336699;
	display: block;
	
}
.align-right{
	border:1px solid #336699;
    float: right;
    padding: 2px 8px;
    vertical-align: middle;
}
span{
	color: white;
}
.main-body .left-section ul li a.active{
	color: white;
}
.right-section{
    position: absolute;
    left: 10%;
    margin-left: 20px;
    width: 70%;
    top: 50px;
    z-index: 10;
}
input{
	border: 1px solid #003366;
	box-shadow: none;
	height: 40px;
	width: 300px;
    padding: 0px 10px;
}
button[type="submit"]{
	background-color: #ffcc33;
	width: 170px;
	display: inline-block;
	padding: 15px 0px;
	text-align: center;
    box-shadow: none;
    border: 0 none;
    font-weight: bold;
}
.row{
	margin: 20px 0px;
}
.books-list .book{
	border:1px solid black;
	width: 23%;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}
.book .top-heading{
	background-color: #333333;
	padding: 10px 0px;
	text-align: center;
	position: relative;
}
.book .top-heading h3{
	font-style: italic;
	color: white;
	font-size: 14px;
}
.book .middle-content h2{
	margin:20px 0px;
	text-align: center;
	font-size: 24px;
}
.book .middle-content p{
	color: #009999;
	font-weight: bold;
	text-align: center;
	margin:40px 0px 30px;
	font-size: 30px;
}
.book .cta, .remove{
	background-color: #333333;
	padding: 10px 15px;
	text-align: center;
}

.book .cta a, .remove a{
	display: inline-block;
	background-color: #ffcc33;
	padding: 15px 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}
.tab-content{
	display: none;
}
.right-section .tab-content:first-child{
	display: block;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #cc6666;
    padding: 0px 5px;
    display: table-cell;
}
.close a{
    color: #333333;
    vertical-align: middle;
    font-size: 32px;
}