<div id="addBook" class="add-books tab-content">
	<form id="addBooksData">
		<div class="row">
			<input id="book-name" ng-model="name" type="text" name="Book Name" placeholder="Book Name">
		</div>
		<div class="row">
			<input id="authour-name" ng-model="authour" type="text" name="Author Name" placeholder="Author Name">
		</div>
		<div class="row">
			<input id="price" type="number" ng-model="price" name="price" placeholder="price">
		</div>
		<div class="row">
			<button type="submit"  ng-click="addBooksData()"> ADD BOOK </button>
		</div>
	</form>
</div>