
<div ng-if="data.length" id="booksList" class="books-list tab-content">
	<br>
	<br>
	<div id="{{ books.id }}" class="book" ng-repeat="books in data ">
		<div class="top-heading">
			<h3>{{books.book_name}}</h3>
		</div>
		<div class="middle-content">
			<h2>{{ books.author_name }}</h2>
			<p>Rs. {{ books.price }}</p>
		</div>
		<div class="remove">
			<a href="javascript:void(0)" ng-click="books.favourite = false;libraryDataService.updateLocalstorageData()"> Remove </a>
		</div>	
	</div>
</div>
 
<div ng-if="!data.length">
	<h2> No data present, please add some data </h2>
</div>